/*
    RESET
*/

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/

img {
    max-width: 100%;
}

/*
    HEADER
*/

header img {
    width: 300px;
}

/*
    MAIN
*/

main .container {
    background-color: brown;
    height: 500px;
    border: 2px solid black;
    padding: 10px 0;
}